/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
    flex-basis: 100%;
}
  
.input{
    display: block;
    width: 94%;
    margin: $gutter auto 0;
    border: none;
    padding: $gutter;
    border-bottom: 5px solid $color-primary;
}
  
@include hidden;
